@page "/bookingoversigt"
@using miniprojekt.Shared
@inject HttpClient Http

<h1>Bookingoversigt</h1>

    <br />
    <p>Her ses alle bookinger af shelters.</p>


    @if (bookings == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Shelter_id</th>
                    <th>Startdate</th>
                    <th>Slutdato</th>
                    <th>Antal personer</th>
                    <th>Navn</th>
                    <th>Telefonnummer</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var booking in bookings)
                {
                <tr>
                    <td>@booking.shelter_id</td>
                    <td>@booking.startdate</td>
                    <td>@booking.slutdate</td>
                    <td>@booking.antal_pers</td>
                    <td>@booking.navn</td>
                    <td>@booking.telefon</td>
                    <td>@booking.email</td>

                </tr>
                }
            </tbody>
        </table>
    }

    @code {
        private Booking[] bookings;
        public Booking testBook = new() { booking_date = DateTime.Now };
        private void BookShelter()
        {
            postUser(testBook);
        }

        protected override async Task OnInitializedAsync()
        {
            bookings = await Http.GetFromJsonAsync<Booking[]>("Booking");
        }

        public Task<HttpResponseMessage> postUser(Booking booking)
        {
            return Http.PostAsJsonAsync<Booking>("Booking", booking);

        }

    }
