@inject HttpClient Http

<div class="modal fade show" id="myModal" style="display:block; background-color: rgba(10,10,10,.8);" aria-modal="true" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">@Title</h4>
                <button type="button" class="close" @onclick="@ModalCancel">&times;</button>
            </div>
            <div class="modal-body">
                <p>@Text.</p>
                <EditForm Model="@testBook" OnValidSubmit="@BookShelter">
                    <DataAnnotationsValidator />
                    <ValidationSummary />
                    <p>
                        <label>
                            Indtast Navn:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <InputText @bind-Value="@testBook.navn" />
                        </label>
                    </p>
                    <p>
                        <label>
                            Indtast Telefonnr:
                            <InputText @bind-Value="@testBook.telefon" />
                        </label>
                    </p>
                    <p>
                        <label>
                            Indtast Email:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <InputText @bind-Value="@testBook.email" />
                        </label>
                    </p>
                    <p>
                        <label>
                            Antal Personer:&nbsp;&nbsp;&nbsp;
                            <InputNumber @bind-Value="@testBook.antal_pers" />
                        </label>
                    </p>
                    <p>
                        <label>
                            Startdato:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <InputDate @bind-Value="@testBook.startdate" />
                        </label>
                    </p>
                    <p>
                        <label>
                            Slutdato:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <InputDate @bind-Value="@testBook.slutdate" />
                        </label>
                    </p>
                    <div class="modal-footer">
                        <button class="btn btn-primary" type="submit">OK</button>
                    </div>
                </EditForm>
            </div>
        </div>
    </div>
</div>

@code{
    [Parameter]
    public string Title { get; set; }
    [Parameter]
    public string Text { get; set; }
    [Parameter]
    public EventCallback<bool> OnClose { get; set; }

    private Task ModalCancel()
    {
        return OnClose.InvokeAsync(false);
    }

    private Task ModalOk()
    {
        return OnClose.InvokeAsync(true);
    }


    public static Booking testBook = new() { booking_date = DateTime.Now };
    private Task BookShelter()
    {
        postUser(testBook);
        return OnClose.InvokeAsync(true);
    }

    public Task<HttpResponseMessage> postUser(Booking booking)
    {
        return Http.PostAsJsonAsync<Booking>("Booking", booking);

    }
}